@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Overpass:300,600");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");
@import "reset";
@import "bs";
@import "grid";

$custom-colors: (
  "elegant-purple": #8E6E95,
  "blue-green": #39A59C,
  "midnight-blue": #344759,
  "bright-orange": #E8741E
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$primary: hsl(356, 100%, 66%);
$lightRedCTA: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);
$whiteText: hsl(0, 0%, 100%);
$footerText: hsl(240, 2%, 79%);
$bodyCopy: hsl(207, 13%, 34%);
$footerBackground: hsl(240, 10%, 16%);
$elegant-purple: #8E6E95;

/* Gradient */
$veryLightRed: hsl(13, 100%, 72%);
$lightRed: hsl(353, 100%, 62%);
$veryDarkGrayBlue: hsl(237, 17%, 21%);
$veryDarkDesaturatedBlue: hsl(237, 23%, 32%);

a, a:link, a:visited {
  text-decoration: none;
  color: $whiteText;
  z-index: 2;
  &:hover{
    color: $whiteText;
    box-shadow: 8px 16px 32px rgba(0, 77, 0, 0.5);
    background: radial-gradient(rgba(177, 0, 0, 0.5), rgba(0, 77, 0, 0.5));
  }
}
.nav-item a:hover {
  display: block;
  width: 100%;
}

body {
  line-height: 1;
  background: white;
  color: $whiteText;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,77,0, 0.7), rgba(0,0,0, 0.7), rgba(177, 0, 0, 0.6));
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

img {
  max-width: 100%;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  .task-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    &>*{
      margin-bottom: .8rem;
    }
    h1 {
      align-self: center;
      text-align: center;
    }
    label{
      display: flex;
      justify-content: center;
      span{
      background-color: $primary;
      color: white;
      display: block;
      padding: .2rem 1rem;
    }
    }
  }
  .card {
    // background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,77,0, 0.7), rgba(0,0,0, 0.7), rgba(177, 0, 0, 0.6));
    background-color: rgba(0,0,0, 0.7);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.7);
    padding: 1rem;
    h1 {
      font-size: calc(1.5rem + 2vw);
      text-align: center;
    }
    h2 {
      font-size: calc(1.5rem + 1.5vw);
      text-align: center;
    }
    h3 {
      font-size: calc(1.5rem + 1.2vw);
      text-align: center;
    }
  }
}

h1 {
  font-weight: 100;
  font-size: 50px;
}
.app-banner .motto {
  background-color: rgba(0,0,0,0.5);
}
.app-header, .app-banner{
  min-width: 100vw;
  max-width: 100vw;
  min-height: 500px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url('/img/main.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: $whiteText;
  @include grid-media($mamba-grid-xs) {
    min-height: 100vh;
    background-size: auto;
  }
  .cover {
    background-image: linear-gradient(rgba(177, 0, 0, 0.7), rgba(0, 77, 0, 0.6));
    position: fixed;
    opacity: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    z-index: 1;
  }
  h1 {
    font-family: 'Grand Hotel', cursive;
    font-weight: 500;
    font-size: 5rem;
    color: ghostwhite;
    z-index: 2;
    @include grid-media($mamba-grid-xs) {
      font-size: 2rem;
    }
  }
  .subTitle {
    font-weight: 600;
    z-index: 2;
    @include grid-media($mamba-grid-xs) {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .motto {
    font-family: 'Overpass', sans-serif;
    color: $whiteText;
    z-index: 2;
    text-align: center;
    @include grid-media($mamba-grid-md) {
      padding: 0 25%;
    }
    @include grid-media($mamba-grid-xs) {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  .subscribe {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 16px rgba(37, 0, 0, 0.6);
    background-color: rgba(0, 37, 0, 0.6);
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    box-sizing: border-box;

    .container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      * {
        margin: .5rem 0 .25rem 0;
        text-align: center;
      }
    }
  }
}

.app-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 1rem 1rem;
  min-height: 100vh;
  @include grid-media($mamba-grid-xs) {
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 1000px;
  }
}

/* Nav Bar
$ 'nav', { className: 'navbar card'}, =>
  $ 'ul', { classNam: 'nav-items container'}, =>
    $ 'li', { className: 'nav-item' }, =>
      $.text 'Home'
    $ 'li', { className: 'nav-item' }, =>
      $.text 'About'
    $ 'li', { className: 'nav-item' }, =>
      $.text 'Contact Us'
    $ 'li', { className: 'nav-item' }, =>
      $.text 'Posts'
*/


.appnav {
  position: fixed;
  top: 0;
  left: 0;
}

.appnav, .appfooter, .appmobilenavbar{
  z-index: 999;
  background-color: rgba(37, 28, 5, 0.6);
  box-shadow: 4px 8px 16px rgba(37, 28, 5, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  padding: 1rem;
  @include grid-media($mamba-grid-xs) {
    display: none;
  }
  .nav-items{
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.2rem;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    @include grid-media($mamba-grid-xs) {
      display: flex;
      flex-direction: column;
    }

    .nav-item {
      flex-basis: 25%;
      text-align: center;
      height: 100%;
      z-index: 5;
      @include grid-media($mamba-grid-xs) {
        border: 1px solid rgba(0,0,0,0.7);
        width: 100%;
        box-shadow: 4px 8px 16px rgba(0,0,0,0.7);
        margin: 4px;
      }
      a {
        z-index: 5;
      }
    }
  }
}

.appmobilenavbar {
  display: none;
  @include grid-media($mamba-grid-xs) {
    display: flex;
    flex-direction: column;
  }
}

.app-layout{
  max-width: 100vw;
  padding: 0;
  margin-top: 10vh;
  @include grid-media($mamba-grid-xs){
    margin-top: 0;
  }
}
.container.showpage {
  max-width: 100%;
}

.full-blog.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card {
    &-header {

    }
    &-title {
      text-align: center;
      font-family: 'Grand Hotel', cursive;
      font-size: 3rem;

      @include grid-media($mamba-grid-xs) {
        font-size: 2rem;
      }

    }
    &-img-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &-img {
      max-width: 500px;
      margin: 2rem auto;
    }
  }
}

#subscribeFormHeading {
  color: $lightRedCTA;
}

table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  border: 1px solid white;
  thead{
    font-family: 'Grand Hotel', cursive;
    font-weight: 100;
    font-size: 2.5rem;
    @include grid-media($mamba-grid-xs) {
      font-size: 1.2rem
    }
    tr{
      display: flex;
      justify-content: space-around;
      align-items: space-between;
      border: 1px solid white;
      @include grid-media($mamba-grid-xs) {
        flex-direction: column;
        align-items: center;
      }
      th {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }
  tbody{
    font-weight: 100;
    font-size: 1.5rem;
    @include grid-media($mamba-grid-xs) {
      font-size: 1rem;
    }
    tr{
      display: flex;
      justify-content: space-around;
      align-items: space-between;
      border: 1px solid white;
      @include grid-media($mamba-grid-xs) {
        flex-direction: column;
      }
      td {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }

}

#projects-page table, #contact-page table {
    thead{
      tr{
        th {
          flex-basis: 33%;
        }
      }
    }
    tbody{
      tr{
        td {
          flex-basis: 33%;
          a{
            color: $primary;
            font-weight: 600;
            text-decoration: underline;
            &:hover {
              color: $whiteText;
              box-shadow: 4px 8px 16px $whiteText;
            }
          }
        }
      }
    }
  }
  #contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    #contactmevia {
      text-align: center;
    }
  }


  // $ 'input', { type: 'checkbox', id: 'toggle'}
  // $ 'label', { for: 'toggle' }, =>
  //   $.text ' '
  //   $ 'span', { id: 'toggle-icon'}
  // $ 'div', { id: 'nav-background'}
  // $ 'nav', { className: 'nav-fullscreen'}, =>
  //   $ 'ul', { className: 'nav-items container'}, =>
  //     $ 'li', { className: 'nav-item' }, =>
  //       $ 'a', { href: '/' },  'Home'
  //     $ 'li', { className: 'nav-item' }, =>
  //       $ 'a', { href: '/allposts' },  'Lessons'
  //     $ 'li', { className: 'nav-item' }, =>
  //       $ 'a', { href: '/projects' },  'Projects'
  //     $ 'li', { className: 'nav-item' }, =>
  //       $ 'a', { href: '/contact' },  'Contact'
  //     $ 'li', { className: 'nav-item' }, =>
  //       $ 'a', { href: '/linkedin' }, 'LinkedIn'
  //     $ 'li', { className: 'nav-item' }, =>
  //       $ 'a', { href: '/youtube' }, 'YouTube'
  //     $ 'li', { className: 'nav-item' }, =>
  //       $ 'a', { href: '/portfolio' },  'GitHub'


#hamburger {
  display: none;

  @include grid-media($mamba-grid-xs) {
    display: block;
    #toggle {
      display: none;
      & ~ #nav-background {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        position: fixed;
        top: 0.75rem;
        right: 0.5rem;
        background-image: radial-gradient(#111, rgba(177,0, 0, 0.7), rgba(0,77,0,0.7));
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &:checked ~ #nav-background {
        transform: scale(80);
      }
      & ~ .nav-fullscreen{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        & .nav-items {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          list-style: none;
          text-align: center;
          width: 100%;
          .nav-item{
            font-family: 'Roboto';
            font-size: calc(2rem + 2vw);
            margin-top: 2vw;
            &:hover{
              background-image: linear-gradient(rgba(177,0,0,0.5), rgba(0,0,0,0.5), rgba(0,77,0,0.5));
            }
          }
        }
      }
      &:checked ~ .nav-fullscreen {
        width: 100%;
        opacity: 1;
      }
      &:checked + label[for="toggle"] #toggle-icon {
          background-color: transparent;
        }

      &:checked + label[for="toggle"] #toggle-icon::before {
          top: 0;
          transform: rotate(135deg);
        }

      &:checked + label[for="toggle"] #toggle-icon::after {
          top: 0;
          transform: rotate(-135deg);
        }
    }
    label[for="toggle"] {
        position: fixed;
        top: 0.4rem;
        right: 0;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        z-index: 1500;
        text-align: center;
        cursor: pointer;
        box-shadow: 4px 2rem 3.5rem rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,77,0, 0.7), rgba(0,0,0, 0.7), rgba(177, 0, 0, 0.6));
        &:hover #toggle-icon::before {
            top: -.8rem; }
        &:hover #toggle-icon::after {
            top: .8rem; }
    }
    #toggle-icon {
    position: relative;
    margin-top: 2rem;
  }
#toggle-icon, #toggle-icon::before, #toggle-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block;
  }
#toggle-icon::before, #toggle-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }
#toggle-icon::before {
    top: -.65rem;
  }
#toggle-icon::after {
    top: .65rem;
  }
}
}
